<div class="row">
  <div class="col-sx-12">
    <img src={{chosenRecipe.imagePath}} altt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{chosenRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" ngbDropdown >
      <button class="btn btn-primary" ngbDropdownToggle type="button" aria-haspopup="true" aria-expanded="false">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul ngbDropdownMenu>
        <li><a href='#' ngbDropdownItem>To shopping List</a></li>
        <li><a href='#' ngbDropdownItem>Edit Recipe</a></li>
        <li><a href='#' ngbDropdownItem>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{chosenRecipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>