<div class="row">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ chosenRecipe.name }}</h1>
    </div>
    <div class="col-md-3">
      <div class="btn-group manage-btn" ngbDropdown>
        <button
          class="btn btn-primary"
          ngbDropdownToggle
          type="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manage Recipe <span class="caret"></span>
        </button>
        <ul ngbDropdownMenu>
          <li>
            <a
              (click)="onAddToShoppingList()"
              ngbDropdownItem
              routerLink="/shopping-list"
              style="cursor: pointer"
              >To shopping List</a
            >
          </li>
          <li>
            <a ngbDropdownItem style="cursor: pointer" (click)="onEditRecipe()"
              >Edit Recipe</a
            >
          </li>
          <li>
            <a
              ngbDropdownItem
              style="cursor: pointer"
              (click)="onDeleteRecipe(content)"
              >Delete Recipe</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sx-12">
    <img
      src="{{ chosenRecipe.imagePath }}"
      alt=""
      class="img-fluid img-thumbnail detail-Img"
    />
  </div>
</div>
<div class="row"></div>
<div class="row">
  <div class="col-xs-12 detail-parag">
    <h4><i>Description</i></h4>
    <hr />
    {{ chosenRecipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 detail-Ingr">
    <h4><i> Ingredients</i></h4>
    <hr />
    <ul class="list-group">
      <li
        *ngFor="let ingredient of chosenRecipe.ingredients"
        class="list-group-item"
      >
        
      {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Warning! You're about to delete your recipe</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Do you really want to delete your recipe?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
      (click)="onYesModal()"
    >
      Yes, Delete!
    </button>
    <button
    type="button"
    class="btn btn-light"
    (click)="modal.close('Close click')"
    >
    Cancel
  </button>
  </div>
</ng-template>

