<div class="row shoppingListCont">
  <div class="col-md-6 offset-md-3 SlCont">
    <h2 class="Slheading">Your Shopping List</h2>
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item ingItem"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        [@list]
      >
        <div (click)="onEditItem(i)" class="ingDetail" >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </div>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteIngredient(i)"
        >
          X
        </button>
      </a>
    </ul>
  </div>
</div>
