.shoppingListCont{
    margin-top: 50px;
}
.ingItem{
    display: flex;
    justify-content: space-between;
}
.ingDetail{
    width: 90%;
}
.Slheading{
    text-align: center;
    margin-bottom: 40px;
}