.backdrop{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
}

.alert-box{
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 20px;
    z-index:100;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.26);
}
.alert-actions{
    text-align: right;
}