<div class="row">
  <div class="col-md-5 offset-md-3 authPage">
    <ng-template #dynamic></ng-template>
    <div class="row logInLogoR" >
      <img src='../../../assets/login.png' class='logInLogo'/>
    </div>
    <h2 class="authHeading ">Please Login </h2>
    <div *ngIf="isLoading" style="text-align: center;"><app-loading></app-loading> </div>
    <form #authForm = "ngForm" (ngSubmit)="handleSubmit(authForm)" >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" ngModel name="email" required email  placeholder="name@example.com"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6"/>
        <small id="emailHelp" class="form-text text-muted" >Must be six characters.</small>
      </div>
      <div class="form-group row" style="margin-top:30px; ">
        <button type="submit" class="btn btn-primary"  [disabled]="!authForm.valid || isLoading">Login</button>
        <a class="swicthLink" (click)="onSwitchMode()" style="text-align: center;">Switch to Sign Up</a>
      </div>
    </form>
  </div>
</div>