.authHeading{
    text-align: center;
    margin-bottom: 20px ;
}
.authPage{
    margin:50px auto;
    padding: 40px;
    border: 1px solid lightblue;
    box-shadow: 0.5px 1px 8px rgba(146, 146, 233, 0.349);
    padding: 50px;
}
.swicthLink{
    margin:10px;
    color:black;
    font-style: italic;
    
}
.swicthLink:hover{
    cursor: pointer;
    color:blue;
    font-style:normal;
}
.logInLogo{
    width:20%;
    margin-bottom: 20px;
}
.logInLogoR{
    justify-content: center;
}